﻿@model MoodleIt.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
        <link href="~/Content/Site.css" rel="stylesheet" />

}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<h2>@ViewBag.Title.</h2>
<img src="~/Catalog/register.png" height="100"/>
<hr />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", @style="text-align: left;" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @type = "number", maxlength = 10 })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CourseName, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CourseName, ViewBag.CourseNames as SelectList,
            "-- Select a Course --", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CourseStartDate, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CourseStartDate, new SelectList(""),
         "-- Select Course Start Date --", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>

  
}
<script src="~/Scripts/registerDropDownList.js"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
