﻿@model IEnumerable<MoodleIt.ViewModels.ShowAnnouncements>

@{
    ViewBag.Title = "Announcement Details";
}
<h2>Announcement Details</h2>
<img src="~/Catalog/announcement.png" height="100" />
<hr />
<div>
    <h4>@Html.DisplayFor(model => model.FirstOrDefault().AnnouncementTitle)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.AnnouncementId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().AnnouncementId)
        </dd>

        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().Date)
        </dd>
        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.AnnouncementDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().AnnouncementDescription)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Announcements")
</p>
