﻿@model IEnumerable<MoodleIt.Models.Announcement>

@{
    ViewBag.Title = "Announcements";
}
<h2>Announcements from the teacher</h2>
<img src="~/Catalog/announcement.png" height="100"/>
<hr />
@using (Html.BeginForm("Announcements", "Students", FormMethod.Get))
{
    <p>
        Search by course name: @Html.DropDownList("ddlSelectedName", (SelectList)ViewBag.coursesList,
    "Select a Course", new { @class = "form-control" })
    </p>
    <p>
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnnouncementId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnouncementTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementId)
            </td>
            <td>
                @Html.ActionLink(item.AnnouncementTitle, "AnnouncementDetails", new { id = item.AnnouncementId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>
