﻿@model IEnumerable<MoodleIt.Models.Assignment>

@{
    ViewBag.Title = "Assigment Details";
}
<h2>Assignment #@Html.DisplayFor(model => model.FirstOrDefault().AssignmentId) Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FirstOrDefault().AssignmentTitle)</h4>
    <hr />
    <dl>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().DeadLine)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.AssignmentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOrDefault().AssignmentDescription)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "MyAssignmetns")
</p>
