﻿@model PagedList.IPagedList<MoodleIt.ViewModels.ContactList>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Contact List";
}
<h2>Students who study with me</h2>
<img src="~/Catalog/contactlist.png" height="100"/>
<hr />

@using (Html.BeginForm("ContactList", "Students", FormMethod.Get))
{
    <p>
        Find student by Full Name / Email / Phone Number:
    </p>
    <p>
        @Html.TextBox("SearchText", ViewBag.CurrentFilter as string, new { @class = "form-control" })
    </p>
    <p>
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Student ID", "ContactList",
            new
            {
                sortOrder = ViewBag.StudentIdSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Full Name", "ContactList",
            new
            {
                sortOrder = ViewBag.FullNameSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Email", "ContactList",
            new
            {
                sortOrder = ViewBag.EmailSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Phone Number", "ContactList",
            new
            {
                sortOrder = ViewBag.PhoneNumberSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Name", "ContactList",
            new
            {
                sortOrder = ViewBag.CourseNameSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Number", "ContactList",
            new
            {
                sortOrder = ViewBag.CourseNumberSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNumber)
            </td>
        </tr>
    }
</table>

<br /><br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ContactList",
            new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter
            }))