﻿@model PagedList.IPagedList<MoodleIt.ViewModels.ShowAssignments>
@using PagedList.Mvc;

@* In this page, there's a list of all the assignment that are relevant for the current student *@

@{
    ViewBag.Title = "My Assigments";
}
<h2>My Assignments</h2>
<img src="~/Catalog/assignment.png" height="100"/><br /><br />
<hr />
@Html.ActionLink("Upload Homework and Check for Grades", "MyHomework")

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Assignment ID", "MyAssignmetns",
            new
            {
                sortOrder = ViewBag.AssignmentIdSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Number", "MyAssignmetns",
            new
            {
                sortOrder = ViewBag.CourseNumberSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Name", "MyAssignmetns",
            new
            {
                sortOrder = ViewBag.CourseNameSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Start Date", "MyAssignmetns",
            new
            {
                sortOrder = ViewBag.StartDateSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Assignment Title", "MyAssignmetns",
            new
            {
                sortOrder = ViewBag.AssignmentTitleSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Dead Line", "MyAssignmetns",
            new
            {
                sortOrder = ViewBag.DeadLineSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.ActionLink(item.AssignmentTitle, "AssignmentDetails", new { id = item.AssignmentId })
            </td>

            <td>
               @if((item.DeadLine - DateTime.Today).TotalDays < 7 &&
                   (item.DeadLine - DateTime.Today).TotalDays > 0)
               {
                  @Html.DisplayFor(modelItem => item.DeadLine)
                   <span style="color:red">&nbsp;@((item.DeadLine - DateTime.Today).TotalDays) days left!</span>
               }
               @if(DateTime.Compare(DateTime.Today, item.DeadLine) > 0)
               {
                   <s>@Html.DisplayFor(modelItem => item.DeadLine)</s>
               }
               @if ((item.DeadLine - DateTime.Today).TotalDays >= 7)
               {                   
                @Html.DisplayFor(modelItem => item.DeadLine)
               }
            </td>
        </tr>
    }

</table>
<br /><br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("MyAssignmetns",
            new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter
            }))
