﻿@model IEnumerable<MoodleIt.ViewModels.ShowHomework>

@* In this page, the student can upload homework. The grades are shown in this page. *@

@{
    ViewBag.Title = "My Homework";
}
<h2>My Homework</h2>
<img src="~/Catalog/uploadFile.png" height="100"/>
<hr />

<div class="alert alert-dismissible alert-warning">
    <p>Only .doc, .docx, .pdf, .rtf are allowed!</p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th>
            Upload Homework
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeworkSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeworkChecked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentId)
            </td>
            <td>
                @if (DateTime.Compare(DateTime.Today, item.DeadLine) <= 0)
                {
                    @Html.DisplayFor(modelItem => item.DeadLine)
                }
                else
                {
                    <font color="red">
                        @Html.DisplayFor(modelItem => item.DeadLine)
                    </font>
                }
            </td>
            <td>
                @using (Html.BeginForm("MyHomeworkStatus", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    if (DateTime.Compare(DateTime.Today, item.DeadLine) <= 0)
                    {
                        <input type="file" name="file" />
                        <input type="hidden" name="assignmentID" value="@Html.DisplayFor(modelItem => item.AssignmentId)" />
                        <input type="submit" value="Send File" />
                    }
                    else
                    {
                        <input type="submit" value="Send File" disabled />
                    }
                }
            </td>
            <td>
                @if (item.HomeworkSent == false)
                {
                    <p>Not Yet</p>
                }
                else
                {
                    <p>Yes</p>
                }

            </td>
            <td>
                @if (item.SendDate == null)
                {
                    <p>N/A</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.SendDate)
                }
            </td>
            <td>
                @if (item.HomeworkChecked == false)
                {
                    <p>Not Yet</p>
                }
                else
                {
                    <p>Yes</p>
                }
            </td>
            <td>
                @if (item.CheckDate == null)
                {
                    <p>N/A</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.CheckDate)
                }
            </td>
            <td>
                @if (DateTime.Compare(DateTime.Today, item.DeadLine) < 0 && item.HomeworkChecked == false
                  && item.Grade == 0)
                {
                    <p>N/A</p>
                }
                @if (DateTime.Compare(DateTime.Today, item.DeadLine) > 0 && item.HomeworkSent == false)
                {
                    <p>N/A</p>
                }
                else
                {
                    <b>@Html.DisplayFor(modelItem => item.Grade)</b>
                }
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Back to My Assignments", "MyAssignmetns", "Students")<br />
