﻿@model MoodleIt.Models.Student

@{
    ViewBag.Title = "My Profile";
}
<h2>My Profile</h2>
<h4>@Html.DisplayFor(model => model.FullName)</h4>
<img src="~/Catalog/myProfile.png" height="100"/>
<hr />
<dl class="dl-horizontal">
    <dt style="text-align:left">
        @Html.DisplayNameFor(model => model.StudentId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StudentId)
    </dd>

    <dt style="text-align:left">
        @Html.DisplayNameFor(model => model.FullName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FullName)
    </dd>

    <dt style="text-align:left">
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt style="text-align:left">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
</dl>

