﻿@model MoodleIt.Models.LoginViewModel

@{
    ViewBag.Title = "Home Page";
    
}

<center>
    <div>
        <h1><b>Better Experience of Studying</b></h1>
        <hr class="my-4">
        <img src="~/Catalog/moodle_it_logo.png" alt="logo"/>

        @*Used to pass a message from controller to view after successful registration*@
        @if (TempData["notice"] != null)
        {
            <p><b>@TempData["notice"]</b></p>
        }
    </div>

    <div class="row">
        <div>
            @*In case that no user has logged in *@
            @if (!User.Identity.IsAuthenticated) 
            {
                <h2 class="display-3">Let's Get Started!</h2>
                using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        <div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register", "Register", "Account") if you don't have a local account.
                    </p>
                }
            }

            </p>
            @* In case that a STUDENT is logged in *@
            @if (Roles.IsUserInRole("Student"))
            {
                <h2 class="display-3">Welcome Back!</h2>
                @Html.ActionLink("What's new in class? Check for teacher's announcements!", "Announcements", "Students")
            }
            @* In case that a teacher is logged in *@
            @if (Roles.IsUserInRole("Admin"))
            {
                <h2 class="display-3">Welcome Back!</h2>
                @Html.ActionLink("Don't forget to check for new homework!", "Enrollments", "Admin")
            }
        </div>
    </div>
</center>