﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Moodle It</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Moodle It", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (Roles.IsUserInRole("Student"))
                    {
                        <li>@Html.ActionLink("My Profile", "MyProfile", "Students")</li>
                        <li>@Html.ActionLink("My Assignments", "MyAssignmetns", "Students")</li>
                        <li>@Html.ActionLink("Contact List", "ContactList", "Students")</li>
                        <li>@Html.ActionLink("Announcements from My Teacher", "Announcements", "Students")</li>
                    }
                    @if (Roles.IsUserInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Assignments", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Check Homework", "Enrollments", "Admin")</li>
                        <li>@Html.ActionLink("All Students", "AllStudents", "Admin")</li>
                        <li>@Html.ActionLink("Announcements", "Announcements", "Admin")</li>
                        <li>@Html.ActionLink("Courses", "Courses", "Admin")</li>

                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                    @Html.Partial("_LoginPartial")
                }


            </div>
        </div>
    </div>
    <div style="background-color:lightgray">
        <div class="container body-content myprofile" ng-app="moodleIt" ng-controller="myCtrl">
            <center>
                <br />
                <h3><i>{{date | date}}, {{theTime}}</i></h3>
                <hr />
                @{if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Index"
            && (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Home"))
                {
                    //Do not display the logo picture on home page
                }
                else
                {
                    //The logo picture should be displayed on any view except for the home page
                    <img src="~/Catalog/moodle_it_logo.png" alt="logo" />
                    <hr />
                }
                }
            </center>
            <div style="height:800px">
                @RenderBody()
            </div>
        </div>
                <footer style ="background-color: #1967be; color: white;">
                    <div class="container">
                        <h5>ady.kroh@gmail.com | 054-464-1299</h5>

                        <h5>
                            <i>
                                Created My Free Black&White Images at
                                <a style="color: white" href="http://www.logomakr.com">
                                    LogoMakr.com
                                </a>
                            </i>
                        </h5>
                    </div>
                </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>

<script>
    var app = angular.module('moodleIt', []);
    app.controller('myCtrl', function ($scope, $interval) {
        $scope.theTime = new Date().toLocaleTimeString();
        $scope.date = new Date();
        $interval(function () {
            $scope.theTime = new Date().toLocaleTimeString();
            $scope.date = new Date();
        }, 1000);
    });
</script>
