﻿@model PagedList.IPagedList<MoodleIt.ViewModels.ShowStudents>
@using PagedList.Mvc;

@* Here is a list of all the students *@
@{
    ViewBag.Title = "All Students";
}

<h2>All Students</h2>
<img src="~/Catalog/allstudents.png" height="100"/>
<hr />
@using (Html.BeginForm("AllStudents", "Admin", FormMethod.Get))
{
    <p>
        Find student by Full Name / Email / Phone Number / Course Name / Course Start Date (dd/mm/yyyy):
    </p>
    <p>
        @Html.TextBox("SearchText", ViewBag.CurrentFilter as string, new { @class = "form-control" })
    </p>
    <p>
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Student ID", "AllStudents",
            new
            {
                sortOrder = ViewBag.StudentIdSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Full Name", "AllStudents",
            new
            {
                sortOrder = ViewBag.FullNameSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Email", "AllStudents",
            new
            {
                sortOrder = ViewBag.EmailSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Phone Number", "AllStudents",
            new
            {
                sortOrder = ViewBag.PhoneNumberSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Name", "AllStudents",
            new
            {
                sortOrder = ViewBag.CourseNameSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Start Date", "AllStudents",
            new
            {
                sortOrder = ViewBag.CourseStartDateSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseStartDate)
            </td>
            <td>
                @Html.ActionLink("Student Details", "StudentDetails", new { id = item.StudentId }) |
                @Html.ActionLink("Delete Student", "DeleteStudent", new { id = item.StudentId })
            </td>
        </tr>
    }
</table>
<br /><br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("AllStudents",
            new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter
            }))
