﻿@model PagedList.IPagedList<MoodleIt.ViewModels.ShowAnnouncements>
@using PagedList.Mvc;

@* Here is a list of all the announcements the teacher has published *@

@{
    ViewBag.Title = "Announcements";
}
<h2>Announcements</h2>
<img src="~/Catalog/announcement.png" height="100"/>
<hr />

@using (Html.BeginForm("Announcements", "Admin", FormMethod.Get))
{
    <p>
        Find Announcement by Course Number / Course Name / Start Date (dd/mm/yyyy) / Announcement Title / Description:
    </p>
    <p>
        @Html.TextBox("SearchText", ViewBag.CurrentFilter as string, new { @class = "form-control" })
    </p>
    <p>
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<p>
    @Html.ActionLink("Create a New Announcement", "CreateNewAnnouncement")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Announcement ID", "Announcements",
            new
            {
                sortOrder = ViewBag.AnnouncementIdSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Number", "Announcements",
            new
            {
                sortOrder = ViewBag.CourseNumberSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Name", "Announcements",
            new
            {
                sortOrder = ViewBag.CourseNameSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Start Date", "Announcements",
            new
            {
                sortOrder = ViewBag.StartDateSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Announcement Title", "Announcements",
            new
            {
                sortOrder = ViewBag.AnnouncementTitleSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Announcement Description", "Announcements",
            new
            {
                sortOrder = ViewBag.AnnouncementDescriptionSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Date", "Announcements",
            new
            {
                sortOrder = ViewBag.DateSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="max-height: 50px">
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementTitle)
            </td>
            <td style="max-width: 50px; max-height: 50px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">       
                @Html.DisplayFor(modelItem => item.AnnouncementDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAnnouncment", new { id = item.AnnouncementId }) |
                @Html.ActionLink("Delete", "DeleteAnnouncement", new { id = item.AnnouncementId })
            </td>
        </tr>
    }
</table>

<br /><br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Announcements",
            new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter
            }))


