﻿@model PagedList.IPagedList<MoodleIt.Models.Course>
@using PagedList.Mvc;

@* Here is a list of all the courses *@

@{
    ViewBag.Title = "Courses";
}
<h2>Courses</h2>
<img src="~/Catalog/course.png" height="100"/>
<hr />
@using (Html.BeginForm("Courses", "Admin", FormMethod.Get))
{
    <p>
        Find course by Course Number / Course Name / Start Date (dd/mm/yyyy):
    </p>
    <p>
        @Html.TextBox("SearchText", ViewBag.CurrentFilter as string, new { @class="form-control"})
    </p>
    <p>
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Course ID", "Courses",
            new
            {
                sortOrder = ViewBag.CourseIdSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Name", "Courses",
            new
            {
                sortOrder = ViewBag.CourseNameSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Number", "Courses",
            new
            {
                sortOrder = ViewBag.CourseNumberSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Start Date", "Courses",
            new
            {
                sortOrder = ViewBag.CourseStartDateSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseStartDate)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Create a New Course", "CreateNewCourse")
</p>

<br /><br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Courses",
            new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter
            }))
