﻿@model MoodleIt.Models.Course

@* In this page, the teacher can open a new course *@

@{
    ViewBag.Title = "Create a New Course";
}
<h2>Create a New Course</h2>
<img src="~/Catalog/course.png" height="100"/>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(m => m.CourseName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CourseName,
              new SelectList(Enum.GetValues(typeof(MoodleIt.Models.Courses))),
              "-- Select a Course --", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseStartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseStartDate)
                @Html.ValidationMessageFor(model => model.CourseStartDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Courses", "Courses")
</div>
