﻿@model MoodleIt.Models.Assignment
@* Delete an assignment *@
@{
    ViewBag.Title = "Delete Assignment";
}
<h2>Delete Assignment</h2>
<img src="~/Catalog/delete.png" height="100" />
<hr />

<div class="alert alert-dismissible alert-warning">
    <h3>Are you sure you want to delete this assignment?</h3>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Course.CourseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseNumber)
        </dd>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Course.CourseStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseStartDate)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.AssignmentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentDescription)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadLine)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
