﻿@model MoodleIt.ViewModels.ShowAnnouncements

@* Delete announcement  *@
@{
    ViewBag.Title = "Delete";
}
<h2>Delete Announcement</h2>
<img src="~/Catalog/delete.png" height="100"/>
<hr />

<div class="alert alert-dismissible alert-warning">
    <h3>Are you sure you want to delete this announcement?</h3>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.AnnouncementId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncementId)
        </dd>

        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.CourseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseNumber)
        </dd>

        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.AnnouncementTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncementTitle)
        </dd>
        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.AnnouncementDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncementDescription)
        </dd>
        <dt style="text-align: left; width: auto; margin-right: 4px;">
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Announcements")
        </div>
    }
</div>
