﻿@model MoodleIt.Models.Assignment

@* This page includes the details of the chosen assignment *@
@{
    ViewBag.Title = "Assigment Details";
}
<h2>Assignment #@Html.DisplayFor(model => model.AssignmentId) Details</h2>
<img src="~/Catalog/assignment.png" height="100"/>
<hr />

<div>
    <h4>@Html.DisplayFor(model => model.AssignmentTitle)</h4>
    <hr />
    <dl class="dl-horizontal" style="text-align:left">
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadLine)
        </dd>
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.AssignmentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentDescription)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
