﻿@model MoodleIt.ViewModels.ShowAnnouncements

@{
    ViewBag.Title = "Edit Announcement";
}
<h2>Edit Announcement</h2>
<img src="~/Catalog/edit.png" height="100" />
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p>
            Edit Announcement #@Html.DisplayFor(model => model.AnnouncementId) from Course @Html.DisplayFor(model => model.CourseName) that started on @Html.DisplayFor(model => model.StartDate)
        </p>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AnnouncementId)

        <div class="form-group">
            @Html.LabelFor(model => model.AnnouncementTitle, new { @class = "control-label col-md-2", @style = "text-align: left;" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AnnouncementTitle, new { @class = "form-control col-md-2" })
                @Html.ValidationMessageFor(model => model.AnnouncementTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnnouncementDescription, new { @class = "control-label col-md-2", @style = "text-align: left;" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.AnnouncementDescription, new { @class = "form-control col-md-2", @style = "height:200px" })
                @Html.ValidationMessageFor(model => model.AnnouncementDescription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Announcements")
</div>
