﻿@model MoodleIt.ViewModels.EditAssignment

@* In this page the teacher can edit the desired assignment *@

@{
    ViewBag.Title = "Edit";
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>

<h2>Edit</h2>
<img src="~/Catalog/edit.png" height="100"/>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Assignment</h4>
        <hr />
        @Html.ValidationSummary(true)
      
        <div class="form-group">
            @Html.LabelFor(m => m.CourseName, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CourseName, ViewBag.CourseNames as SelectList,
            "-- Select a Course --", new { @class = "form-control" })
            </div>
       
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label", @style = "text-align: left;" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.StartDate, new SelectList(""),
         "-- Select Course Start Date --", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2", @style = "text-align: left;" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2", @style = "text-align: left;" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "height:200px" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeadLine, new { @class = "control-label col-md-2", @style = "text-align: left;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeadLine)
                @Html.ValidationMessageFor(model => model.DeadLine)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="hidden" name="AssignmentId" value="@Html.DisplayFor(model => model.AssignmentId)" />


            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/adminDropDownList.js"></script>
