﻿@model IEnumerable<MoodleIt.ViewModels.ShowEnrollments>
@using PagedList.Mvc;

@* In this page, there is a list of all the students. 
    By clicking on a student's name, the teacher can view all the
    homework that the desired student has uploaded, and update grades. *@
@{
    ViewBag.Title = "Check Homework";
}
<h2>Check Homework</h2>
<img src="~/Catalog/checkhw.png" height="100"/>
<hr />
<h4>Click on student's name to download homework and update grade</h4>

@using (Html.BeginForm("Enrollments", "Admin", FormMethod.Get))
{
    <p>
        Search by course name: @Html.DropDownList("ddlSelectedName", (SelectList)ViewBag.coursesList,
    "Select a Course", new { @class = "form-control" })
    </p>
    <p><b>OR</b></p>
    <p>
        Search by course start date: @Html.DropDownList("ddlSelectedDate", (SelectList)ViewBag.datesList,
"Select a Start Date", new { @class = "form-control" })
    </p>
    <p>
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseStartDate)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.ActionLink(item.FullName, "StudentsHomework", new { id = item.StudentId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseStartDate)
            </td>
        </tr>
    }
</table>


