﻿@model PagedList.IPagedList<MoodleIt.ViewModels.ShowAssignments>
@using PagedList.Mvc;

@* In this page there's a list of all the assinments the teacher has created *@

@{
    ViewBag.Title = "Assignments";
}
<h2>Assignments</h2>
<img src="~/Catalog/assignment.png" height="100"/>
<hr />

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <p>
        Find assignment by Course Number / Course Name / Start Date (dd/mm/yyyy) / Assignment Title / Dead Line (dd/mm/yyyy):
    </p>
    <p>
        @Html.TextBox("SearchText", ViewBag.CurrentFilter as string, new { @class = "form-control" })
    </p>
    <p>
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<p>
    @Html.ActionLink("Create a New Assignment", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Assignment ID", "Index",
            new
            {
                sortOrder = ViewBag.AssignmentIdSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Number", "Index",
            new
            {
                sortOrder = ViewBag.CourseNumberSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Course Name", "Index",
            new
            {
                sortOrder = ViewBag.CourseNameSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Start Date", "Index",
            new
            {
                sortOrder = ViewBag.StartDateSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Assignment Title", "Index",
            new
            {
                sortOrder = ViewBag.AssignmentTitleSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink("Dead Line", "Index",
            new
            {
                sortOrder = ViewBag.DeadLineSort,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.ActionLink(item.AssignmentTitle, "Details", new { id = item.AssignmentId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadLine)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AssignmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AssignmentId }) |
                @Html.ActionLink("Delete", "DeleteAssignment", new { id = item.AssignmentId })
            </td>
        </tr>
    }

</table>
<br /><br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
            new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter
            }))
