﻿@model IEnumerable<MoodleIt.ViewModels.ShowHomework>

@* In this page the teacher can download the student's homework and update his grades *@
@{
    ViewBag.Title = ViewBag.StudentName + "'s Homework";
}
<h2>@ViewBag.StudentName's (ID @ViewBag.StudentId) Homework</h2>
<img src="~/Catalog/checkhw.png" height="100"/>
<hr />

@* In case no homework has been uploaded by this student *@
@if (Model.Count() == 0) 
{
    <div class="alert alert-dismissible alert-warning">
        <p>No homework has been uploaded by this student yet.</p>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeworkId)
        </th>
        <th>
            Download Homework
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeworkChecked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentId)
            </td>
            <td>
                @if (DateTime.Compare(DateTime.Today, item.DeadLine) <= 0)
                {
                    @Html.DisplayFor(modelItem => item.DeadLine)
                }
                else
                {
                    <font color="red">
                        @Html.DisplayFor(modelItem => item.DeadLine)
                    </font>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkId)
            </td>
            <td>
                @using (Html.BeginForm("DownloadHomework", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    if (item.HomeworkId != null)
                    {
                        <input type="hidden" name="assignmentID" value="@Html.DisplayFor(modelItem => item.AssignmentId)" />
                        <input type="hidden" name="homeworkID" value="@Html.DisplayFor(modelItem => item.HomeworkId)" />
                        <input type="hidden" name="studentID" value="@Html.DisplayFor(modelItem => item.StudentId)" />
                        <input type="hidden" name="courseID" value="@Html.DisplayFor(modelItem => item.CourseId)" />
                        <input type="submit" value="Download File" />
                    }
                    else
                    {
                        <input type="submit" value="Download File" disabled />
                    }
                    @ViewBag.UploadFailed
                }
            </td>
            <td>
                @if (item.SendDate == null)
                {
                    <p>N/A</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.SendDate)
                }
            </td>
            <td>
                @if (item.HomeworkChecked == false)
                {
                    <p>Not Yet</p>
                }
                else
                {
                    <p>Yes</p>
                }
            </td>
            <td>
                @if (item.CheckDate == null)
                {
                    <p>N/A</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.CheckDate)
                }
            </td>
            <td>
                <b>
                    @if (DateTime.Compare(DateTime.Today, item.DeadLine) < 0 && item.HomeworkChecked == false
                  && item.Grade == 0)
                    {
                        <p>N/A</p>
                    }
                    @if (DateTime.Compare(DateTime.Today, item.DeadLine) > 0 && item.HomeworkSent == false)
                    {
                        <p>N/A</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Grade)
                    }
                </b>
            </td>
            <td>
                @using (Html.BeginForm("StudentsHomework", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="number" name="grade" value="" size="1" class="form-control" />
                    <input type="hidden" name="homeworkId" value="@Html.DisplayFor(modelItem => item.HomeworkId)" />
                    <input type="hidden" name="assignmentId" value="@Html.DisplayFor(modelItem => item.AssignmentId)" />
                    <input type="hidden" name="studentId" value="@Html.DisplayFor(modelItem => item.StudentId)" />
                    <input type="hidden" name="courseId" value="@Html.DisplayFor(modelItem => item.CourseId)" />
                    <input type="submit" value="Update" class="btn btn-default" />
                }
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to List", "Enrollments")
<br />
<br />
